.container {
    padding: 2rem 1rem;
    min-height: 100vh;
    background: linear-gradient(135deg, #d30303 0%, #f8c4c4 100%);
}

.header {
    text-align: center;
    animation: slideDown 0.6s ease;
    margin-bottom: 1rem;
    font-family: 'Pokemon Solid';
    color: var(--pokemonYellow);
    text-shadow:
        -3px -3px 0 var(--pokemonBlue),
        3px -3px 0 var(--pokemonBlue),
        -3px 3px 0 var(--pokemonBlue),
        3px 3px 0 var(--pokemonBlue);
}

.title {
    font-size: 4rem;
}

.subtitle {
    font-size: 2rem;
}

.main {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 0.5rem;
    background: linear-gradient(135deg, #b4d1ff 0%, #ffffff 100%);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.score {
    font-size: 1.5rem;
    font-family: 'Pokemon Solid';
    color: var(--pokemonYellow);
    text-shadow:
        -2px -2px 0 var(--pokemonBlue),
        2px -2px 0 var(--pokemonBlue),
        -2px 2px 0 var(--pokemonBlue),
        2px 2px 0 var(--pokemonBlue);
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 256px;
    background-color: rgb(229, 231, 235);
    border-radius: 0.5rem;
    overflow: hidden;
}

.imageScaling {
    transition: transform 0.3s;
}

.answer {
    font-weight: 600;
    text-transform: capitalize;
}

.guessInput {
    padding: 0.5rem 1rem;
    border: 1px solid rgb(100, 102, 105);
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}

.correct {
    color: rgb(22, 163, 74);
}

.incorrect {
    color: rgb(220, 38, 38);
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

